In [1]:
import pandas as pd
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'TRUE'
path = r'D:\DATA\PYTHON\TIANCHI-贷款违约'

In [2]:
train_data = pd.read_csv(os.path.join(path, 'train.csv'))
test_data = pd.read_csv(os.path.join(path, 'testA.csv'))
train_data.shape, test_data.shape

((800000, 47), (200000, 46))

In [3]:
n_train = len(train_data)
labels = train_data['isDefault']
train_data.iloc[0:4, [0, 1, 2, -2, -1]]

   id  loanAmnt  term  n13  n14
0   0   35000.0     5  0.0  2.0
1   1   18000.0     5  NaN  NaN
2   2   12000.0     5  0.0  4.0
3   3   11000.0     3  0.0  1.0

In [4]:
all_data = pd.concat([train_data, test_data]).reset_index(drop=True)
all_data.shape

(1000000, 47)

In [6]:
all_data = all_data.iloc[:, 1:]
all_data

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
0,35000.0,5,19.52,917.97,E,E2,320.0,2 years,2,110000.0,...,9.0,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0
1,18000.0,5,18.49,461.90,D,D2,219843.0,5 years,0,46000.0,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,12000.0,5,16.99,298.17,D,D3,31698.0,8 years,0,74000.0,...,0.0,21.0,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0
3,11000.0,3,7.26,340.96,A,A4,46854.0,10+ years,1,118000.0,...,16.0,4.0,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0
4,3000.0,3,12.99,101.07,C,C2,54.0,NaN,1,29000.0,...,4.0,9.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,7000.0,3,11.14,229.64,B,B2,330967.0,7 years,1,30000.0,...,6.0,11.0,2.0,6.0,2.0,8.0,0.0,0.0,0.0,4.0
999996,6000.0,3,6.24,183.19,A,A2,38930.0,1 year,1,56000.0,...,5.0,14.0,12.0,13.0,6.0,25.0,0.0,0.0,0.0,0.0
999997,14000.0,5,15.88,339.57,C,C4,282016.0,8 years,2,80000.0,...,21.0,18.0,21.0,42.0,13.0,21.0,0.0,0.0,0.0,0.0
999998,8000.0,3,18.06,289.47,D,D2,97.0,4 years,1,190000.0,...,12.0,5.0,8.0,19.0,6.0,11.0,0.0,0.0,0.0,2.0
999999,8000.0,3,6.68,245.85,A,A3,320.0,7 years,1,46000.0,...,3.0,4.0,3.0,4.0,2.0,4.0,0.0,0.0,0.0,0.0

In [7]:
object_features = all_data.dtypes[all_data.dtypes == 'object'].index
object_features

Index(['grade', 'subGrade', 'employmentLength', 'issueDate',
       'earliesCreditLine'],
      dtype='object')

In [8]:
all_data.loc[:5, object_features]

  grade subGrade employmentLength   issueDate earliesCreditLine
0     E       E2          2 years  2014-07-01          Aug-2001
1     D       D2          5 years  2012-08-01          May-2002
2     D       D3          8 years  2015-10-01          May-2006
3     A       A4        10+ years  2015-08-01          May-1999
4     C       C2              NaN  2016-03-01          Aug-1977
5     A       A5          7 years  2017-04-01          Jul-1998

In [12]:
#grade
all_data['grade'].drop_duplicates()

0      E
1      D
3      A
4      C
9      B
46     F
246    G
Name: grade, dtype: object

In [14]:
def to_num(x):
    if x == 'A':
        return 1
    elif x == 'B':
        return 2
    elif x == 'C':
        return 3
    elif x == 'D':
        return 4
    elif x == 'E':
        return 5
    elif x == 'F':
        return 6
    elif x == 'G':
        return 7
    else:
        return x
all_data['grade'] = all_data['grade'].apply(to_num)
all_data['grade']

0         5
1         4
2         4
3         1
4         3
         ..
999995    2
999996    1
999997    3
999998    4
999999    1
Name: grade, Length: 1000000, dtype: int64

In [18]:
#subGrade
import re
def sub_to_num(x):
    w = re.search('\w{1}', x).group()
    return float(x.replace(w, str(to_num(w)) + '.'))
sub_to_num('A2')
all_data['subGrade'] = all_data['subGrade'].apply(sub_to_num)
all_data['subGrade']

0         5.2
1         4.2
2         4.3
3         1.4
4         3.2
         ...
999995    2.2
999996    1.2
999997    3.4
999998    4.2
999999    1.3
Name: subGrade, Length: 1000000, dtype: float64

In [19]:
#employmentLength
def get_years(x):
    try:
        return float(re.search('\d+', x).group())
    except:
        return x
all_data['employmentLength'] = all_data['employmentLength'].apply(get_years)
all_data['employmentLength']

0          2.0
1          5.0
2          8.0
3         10.0
4          NaN
          ...
999995     7.0
999996     1.0
999997     8.0
999998     4.0
999999     7.0
Name: employmentLength, Length: 1000000, dtype: float64

In [21]:
#issueDate
import datetime
all_data['issueDate'] = all_data['issueDate'].apply(lambda x:pd.to_datetime(x,format='%Y-%m-%d'))
nowtime = datetime.datetime.strptime('2023-04-27','%Y-%m-%d')
all_data['issueDate'] = all_data['issueDate'].apply(lambda x: nowtime - x).dt.days
all_data['issueDate']

0         3222
1         3921
2         2765
3         2826
4         2613
          ...
999995    3860
999996    2765
999997    3587
999998    2034
999999    3007
Name: issueDate, Length: 1000000, dtype: int64

In [24]:
#earliesCreditLine
datetime.datetime.strptime('Aug-2001', '%b-%Y')
all_data['earliesCreditLine'] = all_data['earliesCreditLine'].apply(lambda x:pd.to_datetime(x,format='%b-%Y'))
nowtime = datetime.datetime.strptime('2023-04-27','%Y-%m-%d')
all_data['earliesCreditLine'] = all_data['earliesCreditLine'].apply(lambda x: nowtime - x).dt.days
all_data['earliesCreditLine']

0          7939
1          7666
2          6205
3          8762
4         16705
          ...
999995     6386
999996     6052
999997     7817
999998     6478
999999     7574
Name: earliesCreditLine, Length: 1000000, dtype: int64

In [25]:
numeric_features = all_data.dtypes[all_data.dtypes != 'object'].index
numeric_features = numeric_features.to_list()

numeric_features.remove('isDefault')
numeric_features

['loanAmnt',
 'term',
 'interestRate',
 'installment',
 'grade',
 'subGrade',
 'employmentTitle',
 'employmentLength',
 'homeOwnership',
 'annualIncome',
 'verificationStatus',
 'issueDate',
 'purpose',
 'postCode',
 'regionCode',
 'dti',
 'delinquency_2years',
 'ficoRangeLow',
 'ficoRangeHigh',
 'openAcc',
 'pubRec',
 'pubRecBankruptcies',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'initialListStatus',
 'applicationType',
 'earliesCreditLine',
 'title',
 'policyCode',
 'n0',
 'n1',
 'n2',
 'n3',
 'n4',
 'n5',
 'n6',
 'n7',
 'n8',
 'n9',
 'n10',
 'n11',
 'n12',
 'n13',
 'n14']

In [26]:
all_data[numeric_features] = all_data[numeric_features].apply(lambda x: (x-x.mean()) / x.std())

In [27]:
all_data[numeric_features] = all_data[numeric_features].fillna(0)

In [28]:
all_data = pd.get_dummies(all_data.drop('isDefault', axis=1), dummy_na=True)
all_data.shape

(1000000, 45)

In [29]:
import torch
from torch import nn
import time
from d2l import torch as d2l
from torch.utils import data

In [30]:
train_data = all_data.iloc[:n_train]
test_data = all_data.iloc[n_train:]
train_data.shape, test_data.shape
#train_features = torch.tensor(all_data.iloc[:n_train])

((800000, 45), (200000, 45))

In [31]:
#labels = pd.read_csv(os.path.join(path, 'train.csv'))['isDefault']
#labels = pd.get_dummies(labels)
train_features = torch.tensor(train_data.values, dtype=torch.float32)
train_labels = torch.tensor(labels.values, dtype=torch.int64)
test_features = torch.tensor(test_data.values, dtype=torch.float32)

train_features.shape, train_labels.shape, test_features.shape

(torch.Size([800000, 45]), torch.Size([800000]), torch.Size([200000, 45]))

In [33]:
batch_size = 128
train_iter = data.DataLoader(data.TensorDataset(train_features, train_labels), batch_size, shuffle=True, num_workers=4)
#train_iter = data.DataLoader(data.TensorDataset(test_features), batch_size, shuffle=False, num_workers=4)
for X, y in train_iter:
    print(X.shape, y.shape)
    break

torch.Size([128, 45]) torch.Size([128])

In [34]:
def evaluate_accuracy(net, data_iter):  #@save
    """计算在指定数据集上模型的精度"""
    if isinstance(net, torch.nn.Module):
        net.eval()  # 将模型设置为评估模式
    metric = Accumulator(2)  # 正确预测数、预测总数
    with torch.no_grad():
        for X, y in data_iter:
            metric.add(accuracy(net(X), y), y.numel())
    return metric[0] / metric[1]

def accuracy(y_hat, y):  #@save
    """计算预测正确的数量"""
    if len(y_hat.shape) > 1 and y_hat.shape[1] > 1:
        y_hat = y_hat.argmax(axis=1)
    cmp = y_hat.type(y.dtype) == y
    return float(cmp.type(y.dtype).sum())

class Accumulator:  #@save
    """在n个变量上累加"""
    def __init__(self, n):
        self.data = [0.0] * n

    def add(self, *args):
        self.data = [a + float(b) for a, b in zip(self.data, args)]

    def reset(self):
        self.data = [0.0] * len(self.data)

    def __getitem__(self, idx):
        return self.data[idx]

In [35]:
device = torch.device('cuda')
num_inputs = train_features.shape[1]
num_outputs = 2
net = nn.Sequential(nn.Flatten(),
                    nn.Linear(num_inputs, 512),
                    nn.ReLU(),
                    nn.Linear(512, 2))
net = net.to(device)
def init_weights(m):
    if type(m) == nn.Linear:
        nn.init.normal_(m.weight, std=0.01)
net.apply(init_weights)

batch_size = 128
lr = 0.1
num_epochs = 50
loss = nn.CrossEntropyLoss(reduction='none')
trainer = torch.optim.SGD(net.parameters(), lr=lr)

In [36]:
if isinstance(net, torch.nn.Module):
    net.train()
# 训练损失总和、训练准确度总和、样本数
metric = Accumulator(3)
start = time.time()
print('start time:%s'%time.strftime('%Y-%m-%d %H:%M:%S'))
for epoch in range(num_epochs):
    for X, y in train_iter:
        X = X.to(device)
        y = y.to(device)
        # 计算梯度并更新参数
        y_hat = net(X)
        l = loss(y_hat, y)
        if isinstance(trainer, torch.optim.Optimizer):
            # 使用PyTorch内的优化器和损失函数
            trainer.zero_grad()
            l.mean().backward()
            trainer.step()
        else:
            # 使用定制的优化器和损失函数
            l.sum().backward()
            trainer(X.shape[0])
        metric.add(float(l.sum()), accuracy(y_hat, y), y.numel())
    train_metrics = metric[0] / metric[2], metric[1] / metric[2]
    print(f'epoch:{epoch+1}\tloss:{train_metrics[0]}\tacc:{train_metrics[1]}')
train_loss, train_acc = train_metrics
print(f'time:{time.time() - start}') 
print(f'END time:%s'%time.strftime('%Y-%m-%d %H:%M:%S'))

start time:2023-04-27 21:28:54
epoch:1	loss:0.45154565076351166	acc:0.80367875
epoch:2	loss:0.44967799231290817	acc:0.804366875
epoch:3	loss:0.4486351258071264	acc:0.80471625
epoch:4	loss:0.4479455166351795	acc:0.8049609375
epoch:5	loss:0.44741233788013457	acc:0.80512225
epoch:6	loss:0.44699180698633195	acc:0.805266875
epoch:7	loss:0.4466340874985286	acc:0.8053760714285715
epoch:8	loss:0.4463249092406035	acc:0.80547484375
epoch:9	loss:0.44605404989295533	acc:0.8055711111111111
epoch:10	loss:0.44580611434698103	acc:0.805645
epoch:11	loss:0.4455808736866171	acc:0.8057144318181818
epoch:12	loss:0.4453836702422301	acc:0.8057780208333334
epoch:13	loss:0.44519854690918553	acc:0.8058465384615384
epoch:14	loss:0.4450283696089472	acc:0.8059071428571428
epoch:15	loss:0.44486256420485176	acc:0.8059656666666667
epoch:16	loss:0.44471099636256695	acc:0.806003671875
epoch:17	loss:0.4445693953205557	acc:0.8060585294117647
epoch:18	loss:0.4444323647403717	acc:0.8061069444444444
epoch:19	loss:0.44430121471957157	acc:0.8061522368421052
epoch:20	loss:0.444172397613287	acc:0.806186375
epoch:21	loss:0.4440538815332594	acc:0.8062239880952381
epoch:22	loss:0.44394275595556604	acc:0.8062646022727272
epoch:23	loss:0.443828395971008	acc:0.8062961413043478
epoch:24	loss:0.44372052569727105	acc:0.806331875
epoch:25	loss:0.44361991404132844	acc:0.8063689
epoch:26	loss:0.4435193829198984	acc:0.8064003846153847
epoch:27	loss:0.4434217248803598	acc:0.8064322222222222
epoch:28	loss:0.4433266285574436	acc:0.8064627232142857
epoch:29	loss:0.4432336927925307	acc:0.8064924137931034
epoch:30	loss:0.44314675887362165	acc:0.8065199166666667
epoch:31	loss:0.44305520843975005	acc:0.8065508467741935
epoch:32	loss:0.4429684418243915	acc:0.80657515625
epoch:33	loss:0.4428828556792664	acc:0.8066114393939394
epoch:34	loss:0.4427982121545427	acc:0.8066401470588235
epoch:35	loss:0.44271575374855315	acc:0.8066651071428571
epoch:36	loss:0.4426348034521606	acc:0.8066952430555555
epoch:37	loss:0.44255496245583975	acc:0.806719695945946
epoch:38	loss:0.44247903906389285	acc:0.8067460197368421
epoch:39	loss:0.44240385984029523	acc:0.8067720512820513
epoch:40	loss:0.4423275168925524	acc:0.80679925
epoch:41	loss:0.44225233527544067	acc:0.80682125
epoch:42	loss:0.442176383050964	acc:0.806850505952381
epoch:43	loss:0.4421040837289012	acc:0.8068753779069767
epoch:44	loss:0.4420317003875429	acc:0.8068975
epoch:45	loss:0.4419596802959972	acc:0.8069258333333333
epoch:46	loss:0.44189276360745017	acc:0.8069523369565217
epoch:47	loss:0.44182373434234173	acc:0.8069808510638298
epoch:48	loss:0.4417569884620607	acc:0.8070075260416667
epoch:49	loss:0.4416905687022209	acc:0.8070313010204082
epoch:50	loss:0.44162490449295044	acc:0.807050325
time:1130.230323791504
END time:2023-04-27 21:47:45

In [65]:
type(test_features)

torch.Tensor

In [37]:
preds = []
test_features = test_features.to(device)
preds = net(test_features)

In [38]:
preds.shape

torch.Size([200000, 2])

In [39]:
preds

tensor([[ 1.3367, -1.2722],
        [ 0.6802, -0.5696],
        [-0.2659,  0.2943],
        ...,
        [ 0.9111, -0.8601],
        [ 0.8292, -0.7891],
        [ 2.1531, -2.0310]], device='cuda:0', grad_fn=<AddmmBackward0>)

In [40]:
def softmax(X):
    X_exp = torch.exp(X)
    partition = X_exp.sum(1, keepdim=True)
    return X_exp / partition
X_exp = torch.exp(X)
partition = X_exp.sum(1, keepdim=True)

In [41]:
pred_labels = softmax(preds)[:, 1]
pred_labels.shape

torch.Size([200000])

In [42]:
res = pd.read_csv(os.path.join(path, 'submit.csv'))
res.shape

(200000, 2)

In [43]:
pred_labels_cpu = pred_labels.cpu()
res['isDefault'] = pred_labels_cpu.detach().numpy()

In [44]:
res.to_csv(os.path.join(path, 'submit_nn.csv'), index=0)